.Components___Input {
  position: relative;
  width: 100%;
  
  .Input__Label {
    font-size: 0.75rem;
    margin-bottom: 0px;
    margin-left: 23px;
  }

  .Input {
    font-weight: normal;
    font-size: 0.90rem;
    border-radius: 22px;
  }

  .Error {
    color: red;
  }

  .Error--Border {
    border: 1px solid red;
  }

  .Input__Error {
    font-size: 0.75rem;
    position: absolute;
    bottom: -17px;
    left: 23px;
    color: red;
  }
}

.svgInputIcons {
  position: absolute;
  right: 15px;
  top: 48%
}