@import '../../scss/mixins';
@import '../../scss/variables';

.View__ContactUs {
  min-height: calc(100vh - 110px);
  height: 100%;
  width: 100%;
  color: #000;

  .background {
    width: 100%;
    min-height: calc(100vh - 110px);
    height: 100%;
    position: relative;
    padding-bottom: 10px;
  }

  .background--color {
    background-image: -webkit-linear-gradient(65deg, white 15%, white 30%, rgba(105, 1, 59, 0.32) 55%, );
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $secondary;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  .card {
    border-radius: 30px;
  }

  .Button {
    width: 300px;
  }

  .ContactUs__Name {
    display: flex !important;

    .SelectDrop {
      width: 20% !important;

      .Select {
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
      }
    }

    .Components___Input {
      .Input {
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
      }
    }
  }

  .Font-Size--Header {
    @include breakpoint(phablet) {
      font-size: 2.8em !important;
    }

    @include breakpoint(laptop) {
      font-size: 3.4em !important;
    }
  }

  .Form__Width {
    @include breakpoint(phablet) {
      width: 100% !important;
    }

    @include breakpoint(laptop) {
      width: 50% !important;
    }
  }
}