.Views__Profile {
  height: 100vh;

  .Button {
    width: 120px !important;
  }

  .Button__Done {
    border-radius: 22px !important;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
  }
}