@import '../../scss/mixins';
@import '../../scss/variables';

.View__Home {
  width: 100%;
  height: 100% !important;

  .View__Home__Image__Wrapper {
    background-image: -webkit-linear-gradient(80deg, white 15%,white 30%, rgba(105,1,59,0.32) 55%, );
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $secondary;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  .View__Home__Container {
    position: relative;
    margin: 0;
    padding: 25px;
  }

  .View__Home__Button {
    max-width: 370px;
    border-radius: 25px;
    min-width: 220px;
  }

  .View__Home__Container__Left {
    margin-top: 30px;
  }

  .View__Feature__Card {
    background-color: white !important;
    margin-right: 20px;
    margin-left: 20px;
  }

  @include breakpoint(laptop) {
    // height: calc(100vh - 110px) !important;
    .View__Feature__Card:hover {
      transform: scale(1.3);
      z-index: 1;
    }
  }
}