@import '../../scss/variables';

.View__Login {
    width: 100%;
    height: 100%;
    background: url('/public/landingBackground1.png') !important;
    background-color: $secondary;
    background-size: contain;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    .Login__Form {
        min-height: 100vh;
        display: flex;
        align-items: center;

        .Card_View {
            padding: 20px 20px;
        }

        .Main_Card_View {
            box-shadow: 0 4px 8px 0 $shadow;
            z-index: 1000 !important;
        }

        .Main_Card_View.one {
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }

        .Main_Card_View.two {
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
        }

        .card {
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
            height: 100%;
            box-shadow: 0 4px 8px 0 $shadow;
        }

        .Button_Login {
            border-radius: 22px !important;
            padding: 6px 32px !important;
            margin-top: 30px;
            margin-bottom: 20px;
        }

        .forgetPassword {
            color: $primary;
            padding-right: 16px;
        }

        .errorMessage {
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, 0);
            color: $error;
            width: 200px;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        
        .slideText {
            width: 330px;
            margin: 0 auto;
        }

        @media (max-width: 1199px) {
            .Main_Card_View.two {
                border-radius: 30px !important;
            }
        }

    }

    @media (max-width: 689px) {
        .View__Empty {
            padding-top: 162px;
        }
        .Card_View {
            background-color: transparent !important;
        }
        .card {
            border-radius: 30px !important;
        }
        .Main_Card_View {
            box-shadow: none !important;
            border-radius: 30px !important;
        }
    }

}