@import '../../scss/variables';

.View__Login {
    width: 100%;
    height: 100%;
    background: url('../../assets/img/landingBackground.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    .forgetPassword {
        color: $primary
    }
}

.Button {
    border-radius: 22px !important;
    margin-top: 58px;
    width: 90%;
}