// Your variable overrides
$primary: #69013b;
$secondary: lightpink;
$color: red;
$text-primary:black;
$dark : black;
$info: #69013b;
// CoreUI and its default variables
@import "../node_modules/@coreui/coreui/scss/coreui";